*,*::after,*::before {
  box-sizing: border-box;
}

body {
    color: silver;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3 {
    text-shadow: 1px 1px black;
}

h2 {
    font-size: 3rem;
}

h3 {
    color:cadetblue;
    opacity: 0.7;
    margin: auto 0;
}

#timer-label {
    margin-top: 3rem;
}

button {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
    background-color: cornflowerblue !important;
    border: 1px solid black !important;
    font-weight: bolder;
}

Button {
    width: 4rem;
    height: 3rem;
}

.time-sets>Button {
    font-size: 2rem !important;
    padding: 0;
}

#reset {
    font-size: 3rem !important;
    line-height: 0.725;
    padding-top: 0.25rem;
}

#testMode {
    width: 10rem;
}

button:hover {
    background-color: transparent !important;
    border: 1px solid white !important; 
}

button:active {
    background-color: lime !important;
}

.time-sets {
    display: grid;
    grid-template-columns: 50px 100px 50px;
    justify-items: center;
    align-items: center;
}

@media (orientation: landscape) {
    #buttonContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
    #time-left {
        margin-top: 1rem;
    }
    .App-logo {
        height: 30vmin;
    }
}